<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="menuBar" hide-md hide-gt hide-gt-md>
    <md-toolbar>
        <h1 class="md-toolbar-tools">{{sm.usuario.tipo}}</h1>
    </md-toolbar>
    <md-content>
        <md-subheader class="md-no-sticky"><b>Bienvenido</b> {{sm.usuario.nombre}}</md-subheader>
        <md-divider></md-divider>
        <md-list>
            <md-list-item ng-show="sm.menuN3" ng-click="sm.go('mis-operaciones')">
                <p>Mis operaciones</p>
            </md-list-item>
            <md-list-item ng-show="sm.menuN3" ng-click="sm.go('vida')">
                <p>Vida</p>
            </md-list-item>
            <md-list-item ng-show="sm.menuN3" ng-click="sm.go('accidentes-personales')">
                <p>Accidentes Personales</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-show="sm.menuN1" ng-click="sm.go('sucursales')">
                <p>Sucursales</p>
            </md-list-item>
            <md-list-item ng-show="sm.menuN1" ng-click="sm.go('zonas')">
                <p>Zonas</p>
            </md-list-item>
            <md-list-item ng-show="sm.menuN2" ng-click="sm.go('usuarios')">
                <p>Usuarios</p>
            </md-list-item>
            <md-list-item  ng-show="sm.menuN0" ng-click="sm.go('productos')">
                <p>Productos</p>
            </md-list-item>
            <md-list-item  ng-show="sm.menuN0" ng-click="sm.go('log')">
                <p>Logs</p>
            </md-list-item>                        
        </md-list>
        <md-divider></md-divider>
        <md-button class="md-raised md-warn" layout-fill ng-click="sm.logout()">Cerrar sesión</md-button>
    </md-content>
</md-sidenav>
<md-content  hide-md hide-lg hide-xl>
    <md-toolbar md-scroll-shrink="">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <ng-md-icon icon="menu" ng-click="sm.openBar()" style="fill:#FFF" ></ng-md-icon>
        </md-button>
        <span>{{sm.pagina}}</span>
      </div>
    </md-toolbar>
</md-content>
<div flex hide-xs hide-sm layout="row" layout-align="center end" class="datosSesion">
    <div flex layout="row" layout-align="start stretch" class="divPading">
        <md-menu-bar>
            <md-menu>
                <button ng-show="sm.menuN2" md-theme="md-accent" ng-click="$mdOpenMenu()">Administración</button>
                    <md-menu-content>
                        <md-menu-item ng-show="sm.menuN1">
                            <md-button class="md-primary" ng-click="sm.go('sucursales')">Sucursales</md-button>
                        </md-menu-item>
                        <md-menu-item  ng-show="sm.menuN1">
                            <md-button class="md-primary" ng-click="sm.go('zonas')">Zonas</md-button>
                        </md-menu-item>
                        <md-menu-item  ng-show="sm.menuN2">
                            <md-button class="md-primary" ng-click="sm.go('usuarios')">Usuarios</md-button>
                        </md-menu-item>
                        <md-menu-item  ng-show="sm.menuN0">
                            <md-button class="md-primary" ng-click="sm.go('productos')">Productos</md-button>
                        </md-menu-item>
                        <md-menu-item  ng-show="sm.menuN0">
                            <md-button class="md-primary" ng-click="sm.go('log')">Logs</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <button ng-show="sm.menuN3" class="md-primary" ng-click="sm.go('mis-operaciones')">Mis operaciones</button>
                <md-menu-content></md-menu-content>
            </md-menu>
            <md-menu>
                <button ng-show="sm.menuN3" class="md-primary" ng-click="sm.go('vida')">Vida</button>
                <md-menu-content></md-menu-content>
            </md-menu>
            <md-menu>
                <button ng-show="sm.menuN3" class="md-primary" ng-click="sm.go('accidentes-personales')">Accidentes Personales</button>
                <md-menu-content></md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
    <div layout="column" style="width:300px" layout-align="center end" layout-fill style="min-width: 300px" class="divPading">
        <div>
            <label><span><b>Bienvenido</b></span> <b>{{sm.usuario.nombre}}</b></label>
        </div>
        <div flex layout="row">
            <label>{{sm.usuario.ultimaSesion}}</label>
        </div>
    </div>
    <div layout="column" style="width:130px" layout-align="center center" layout-fill style="min-width: 130px" class="divPading">
        <div>
            <label><b>{{sm.usuario.tipoMin}}</b></label>
        </div>
        <div>
            <a href="javascript:void(0)" ng-click="sm.logout()" class="logout">Cerrar sesión</a>
        </div>
    </div>
</div>